{% overextends "admin/base_site.html" %}
{% load i18n %}

{% block title %}Administration{% endblock %}

{% block extrahead %}
    {{ block.super  }}
    <script type="text/javascript">
         $(function() {
                schnadmin.ui.message_fadeout()
         })
    </script>
{% endblock %}

{% block branding %}
    <a href="{{ ADMIN_URL }}" id="logo" ><span></span></a>
{% endblock %}

{% block content_title %}
    {{ block.super }}
    
    <div id="site-info">
    {% block site_info %}
    {% endblock %}
    </div>

{% endblock %}
